In [ ]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series([1, 2, 3, 4, 5])
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
ser[2]= 7

In [4]:
ser

0    1
1    2
2    7
3    4
4    5
dtype: int64

In [5]:
#  1. Create Series

s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
# Basic Methods
print("sum:", s.sum())
print("mean:", s.mean())
print("max:", s.max())
print("min:", s.min())
print("describe:\n", s.describe())

sum: 150
mean: 30.0
max: 50
min: 10
describe:
 count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [7]:
#  2. Indexing in Series

# Label indexing
print("Label indexing s['c']:", s['c'])

# Integer location indexing
print("Integer indexing s[2]:", s[2])

# Slicing
print("Slicing s['b':'d']:\n", s['b':'d'])

# Boolean indexing
print("Boolean indexing s[s > 25]:\n", s[s > 25])

# Fancy indexing
print("Fancy indexing s[['a', 'e', 'c']]:\n", s[['a', 'e', 'c']], "\n")

Label indexing s['c']: 30
Integer indexing s[2]: 30
Slicing s['b':'d']:
 b    20
c    30
d    40
dtype: int64
Boolean indexing s[s > 25]:
 c    30
d    40
e    50
dtype: int64
Fancy indexing s[['a', 'e', 'c']]:
 a    10
e    50
c    30
dtype: int64

C:\Users\basit\AppData\Local\Temp\ipykernel_4556\1381991066.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Integer indexing s[2]:", s[2])

In [8]:
#  3. Create DataFrame
data = {
    'Name': ['Ali', 'Sara', 'John', 'Mina', 'Tom'],
    'Age': [23, 25, 30, 22, 28],
    'Marks': [88, 92, 79, 95, 85],
    'City': ['Lahore', 'Karachi', 'London', 'Dubai', 'Paris']
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])
print(df)

   Name  Age  Marks     City
a   Ali   23     88   Lahore
b  Sara   25     92  Karachi
c  John   30     79   London
d  Mina   22     95    Dubai
e   Tom   28     85    Paris

In [9]:
df.T

            a        b       c      d      e
Name      Ali     Sara    John   Mina    Tom
Age        23       25      30     22     28
Marks      88       92      79     95     85
City   Lahore  Karachi  London  Dubai  Paris

In [10]:
# 4. DataFrame Basic Methods
print("Shape:", df.shape)
print("Info:")
print(df.info(), "\n")
print("Describe:\n", df.describe(), "\n")
print("Head:\n", df.head(3))
print("Tail:\n", df.tail(2), "\n")

Shape: (5, 4)
Info:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Marks   5 non-null      int64
 3   City    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 372.0+ bytes
None

Describe:
              Age      Marks
count   5.000000   5.000000
mean   25.600000  87.800000
std     3.361547   6.220932
min    22.000000  79.000000
25%    23.000000  85.000000
50%    25.000000  88.000000
75%    28.000000  92.000000
max    30.000000  95.000000

Head:
    Name  Age  Marks     City
a   Ali   23     88   Lahore
b  Sara   25     92  Karachi
c  John   30     79   London
Tail:
    Name  Age  Marks   City
d  Mina   22     95  Dubai
e   Tom   28     85  Paris

In [11]:
# 5. Indexing and Selection in DataFrame
# Column selection
print("Select one column (Age):\n", df['Age'], "\n")

# Multiple columns
print("Select multiple columns (Name & City):\n", df[['Name', 'City']], "\n")

# Row selection by label (loc)
print("Row selection by label (loc['c']):\n", df.loc['c'], "\n")

# Row selection by position (iloc)
print("Row selection by position (iloc[2]):\n", df.iloc[2], "\n")

Select one column (Age):
 a    23
b    25
c    30
d    22
e    28
Name: Age, dtype: int64

Select multiple columns (Name & City):
    Name     City
a   Ali   Lahore
b  Sara  Karachi
c  John   London
d  Mina    Dubai
e   Tom    Paris

Row selection by label (loc['c']):
 Name       John
Age          30
Marks        79
City     London
Name: c, dtype: object

Row selection by position (iloc[2]):
 Name       John
Age          30
Marks        79
City     London
Name: c, dtype: object

In [12]:
# Row + Column selection using loc
print("loc['b', 'Marks']:", df.loc['b', 'Marks'])
print("loc[['a','d'], ['Name','City']]:\n", df.loc[['a', 'd'], ['Name', 'City']], "\n")

# Row + Column selection using iloc
print("iloc[1:4, 1:3]:\n", df.iloc[1:4, 1:3], "\n")

# Slicing rows
print("Slice rows df[1:4]:\n", df[1:4], "\n")

# Boolean indexing
print("Boolean indexing df[df['Marks'] > 85]:\n", df[df['Marks'] > 85], "\n")

# Conditional filtering with multiple conditions
print("Students older than 23 and Marks > 85:\n", df[(df['Age'] > 23) & (df['Marks'] > 85)], "\n")

loc['b', 'Marks']: 92
loc[['a','d'], ['Name','City']]:
    Name    City
a   Ali  Lahore
d  Mina   Dubai

iloc[1:4, 1:3]:
    Age  Marks
b   25     92
c   30     79
d   22     95

Slice rows df[1:4]:
    Name  Age  Marks     City
b  Sara   25     92  Karachi
c  John   30     79   London
d  Mina   22     95    Dubai

Boolean indexing df[df['Marks'] > 85]:
    Name  Age  Marks     City
a   Ali   23     88   Lahore
b  Sara   25     92  Karachi
d  Mina   22     95    Dubai

Students older than 23 and Marks > 85:
    Name  Age  Marks     City
b  Sara   25     92  Karachi

In [13]:

# Add new column
df['Grade'] = ['B+', 'A', 'B', 'A+', 'B']
print("Added new column 'Grade':\n", df, "\n")

# Modify a column
df['Marks'] = df['Marks'] + 5
print("Modified 'Marks' column (+5):\n", df, "\n")

# Delete a column
df2 = df.drop('City', axis=1)
print("Deleted 'City' column:\n", df2, "\n")

# Sort values
print("Sort by 'Age':\n", df.sort_values(by='Age'), "\n")

# Sort by index
print("Sort by index descending:\n", df.sort_index(ascending=False), "\n")

Added new column 'Grade':
    Name  Age  Marks     City Grade
a   Ali   23     88   Lahore    B+
b  Sara   25     92  Karachi     A
c  John   30     79   London     B
d  Mina   22     95    Dubai    A+
e   Tom   28     85    Paris     B

Modified 'Marks' column (+5):
    Name  Age  Marks     City Grade
a   Ali   23     93   Lahore    B+
b  Sara   25     97  Karachi     A
c  John   30     84   London     B
d  Mina   22    100    Dubai    A+
e   Tom   28     90    Paris     B

Deleted 'City' column:
    Name  Age  Marks Grade
a   Ali   23     93    B+
b  Sara   25     97     A
c  John   30     84     B
d  Mina   22    100    A+
e   Tom   28     90     B

Sort by 'Age':
    Name  Age  Marks     City Grade
d  Mina   22    100    Dubai    A+
a   Ali   23     93   Lahore    B+
b  Sara   25     97  Karachi     A
e   Tom   28     90    Paris     B
c  John   30     84   London     B

Sort by index descending:
    Name  Age  Marks     City Grade
e   Tom   28     90    Paris     B
d  Mina   22    100    Dubai    A+
c  John   30     84   London     B
b  Sara   25     97  Karachi     A
a   Ali   23     93   Lahore    B+

In [14]:
#  7. Handling Missing Data
df_missing = df.copy()
df_missing.loc['f'] = [np.nan, np.nan, np.nan, np.nan, np.nan]
print("With Missing Row:\n", df_missing, "\n")

print("Check for NaN:\n", df_missing.isna(), "\n")
print("Drop NaN rows:\n", df_missing.dropna(), "\n")
print("Fill NaN with default values:\n", df_missing.fillna({'Name': 'Unknown', 'Age': 0, 'Marks': 0}), "\n")

With Missing Row:
    Name   Age  Marks     City Grade
a   Ali  23.0   93.0   Lahore    B+
b  Sara  25.0   97.0  Karachi     A
c  John  30.0   84.0   London     B
d  Mina  22.0  100.0    Dubai    A+
e   Tom  28.0   90.0    Paris     B
f   NaN   NaN    NaN      NaN   NaN

Check for NaN:
     Name    Age  Marks   City  Grade
a  False  False  False  False  False
b  False  False  False  False  False
c  False  False  False  False  False
d  False  False  False  False  False
e  False  False  False  False  False
f   True   True   True   True   True

Drop NaN rows:
    Name   Age  Marks     City Grade
a   Ali  23.0   93.0   Lahore    B+
b  Sara  25.0   97.0  Karachi     A
c  John  30.0   84.0   London     B
d  Mina  22.0  100.0    Dubai    A+
e   Tom  28.0   90.0    Paris     B

Fill NaN with default values:
       Name   Age  Marks     City Grade
a      Ali  23.0   93.0   Lahore    B+
b     Sara  25.0   97.0  Karachi     A
c     John  30.0   84.0   London     B
d     Mina  22.0  100.0    Dubai    A+
e      Tom  28.0   90.0    Paris     B
f  Unknown   0.0    0.0      NaN   NaN

In [15]:
#  8. Statistical & Mathematical Operations

print("Mean Marks:", df['Marks'].mean())
print("Max Age:", df['Age'].max())
print("Correlation:\n", df.corr(numeric_only=True))
print("Apply function (square of marks):\n", df['Marks'].apply(lambda x: x**2), "\n")

Mean Marks: 92.8
Max Age: 30
Correlation:
             Age     Marks
Age    1.000000 -0.889443
Marks -0.889443  1.000000
Apply function (square of marks):
 a     8649
b     9409
c     7056
d    10000
e     8100
Name: Marks, dtype: int64

In [16]:
# 10. GroupBy Example

data2 = {
    'Dept': ['CS', 'CS', 'Math', 'Math', 'Physics'],
    'Score': [90, 85, 88, 70, 95]
}
df_group = pd.DataFrame(data2)
print("DataFrame for GroupBy:\n", df_group, "\n")

print("Group by Dept, Mean Scores:\n", df_group.groupby('Dept')['Score'].mean(), "\n")

DataFrame for GroupBy:
       Dept  Score
0       CS     90
1       CS     85
2     Math     88
3     Math     70
4  Physics     95

Group by Dept, Mean Scores:
 Dept
CS         87.5
Math       79.0
Physics    95.0
Name: Score, dtype: float64

In [19]:

# 1. Create Index objects

idx1 = pd.Index(['a', 'b', 'c', 'd', 'e'])
idx2 = pd.Index(['c', 'd', 'e', 'f', 'g'])
print("Index 1:", idx1)
print("Index 2:", idx2, "\n")

# 2. append() — Concatenate Index objects
appended = idx1.append(idx2)
print(appended, "\n")

# 3. difference() — Set difference

diff = idx1.difference(idx2)
print(diff, "\n")

# 4. intersection() — Common elements

inter = idx1.intersection(idx2)
print(inter, "\n")

# 5. union() — Combine all unique elements
uni = idx1.union(idx2)
print(uni, "\n")

# 6. isin() — Check if elements of idx1 are in idx2
isin_mask = idx1.isin(idx2)
print(isin_mask)
print("Elements in idx1 also in idx2:", idx1[isin_mask], "\n")

# 7. delete() — Delete element by position
deleted = idx1.delete(2)
print(deleted, "\n")

#  8. drop() — Delete element(s) by label
dropped = idx1.drop(['a', 'd'])
print(dropped, "\n")

#  9. insert() — Insert new label at given position
inserted = idx1.insert(2, 'z')
print(inserted, "\n")

#  10. is_monotonic — True if sorted ascending
print("idx1:", idx1.is_monotonic_increasing)
idx_sorted = pd.Index(['a', 'b', 'c', 'd'])
print("Sorted Index:", idx_sorted.is_monotonic_increasing, "\n")

# 11. is_unique — True if all values are unique
idx_dup = pd.Index(['a', 'b', 'b', 'c'])
print("idx1 unique?:", idx1.is_unique)
print("idx_dup unique?:", idx_dup.is_unique, "\n")

# 12. unique() — Return array of unique values

print("Unique values in idx_dup:", idx_dup.unique(), "\n")

# 12. unique() — Return array of unique values

# BONUS: Show in context of DataFrame index
df = pd.DataFrame({
    "Name": ["Ali", "Sara", "John", "Mina"],
    "Marks": [88, 92, 85, 90]
}, index=['a', 'b', 'c', 'd'])

print("Original DataFrame:\n", df, "\n")

# Demonstrate .index methods on DataFrame
print("DataFrame Index union with another Index ['d','e','f']:\n", df.index.union(pd.Index(['d','e','f'])))
print("DataFrame Index difference with ['b','c']:\n", df.index.difference(pd.Index(['b','c'])))
print("DataFrame Index is_unique:", df.index.is_unique)

Index 1: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Index 2: Index(['c', 'd', 'e', 'f', 'g'], dtype='object')

Index(['a', 'b', 'c', 'd', 'e', 'c', 'd', 'e', 'f', 'g'], dtype='object')

Index(['a', 'b'], dtype='object')

Index(['c', 'd', 'e'], dtype='object')

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

[False False  True  True  True]
Elements in idx1 also in idx2: Index(['c', 'd', 'e'], dtype='object')

Index(['a', 'b', 'd', 'e'], dtype='object')

Index(['b', 'c', 'e'], dtype='object')

Index(['a', 'b', 'z', 'c', 'd', 'e'], dtype='object')

idx1: True
Sorted Index: True

idx1 unique?: True
idx_dup unique?: False

Unique values in idx_dup: Index(['a', 'b', 'c'], dtype='object')

Original DataFrame:
    Name  Marks
a   Ali     88
b  Sara     92
c  John     85
d  Mina     90

DataFrame Index union with another Index ['d','e','f']:
 Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
DataFrame Index difference with ['b','c']:
 Index(['a', 'd'], dtype='object')
DataFrame Index is_unique: True